/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 sept. 2021, 9:23:26
    Author     : jose
*/

.root {
    -fx-background-image: url("/resources/images/fondoPantalla01.jpg");
}

.label {
    -fx-font-size: 12px;
    -fx-font-wight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);
}